<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.sjhstudio.diary">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> <!-- 구글 드라이브 API 관련 -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:name=".helper.MyApplication"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DiaryProject"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">

        <activity
            android:name=".PasswordSettingsActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize" />

        <activity
            android:name=".MainPasswordActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize" />

        <activity
            android:name=".PasswordActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize" />

        <activity
            android:name=".BackupActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize" />

        <activity
            android:name=".DetailActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize" />

        <activity
            android:name=".PhotoActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize" />

        <activity
            android:name=".DarkModeActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize" />
        <!--
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713">
        </meta-data>
        -->
        <receiver
            android:name=".helper.AlarmReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <!-- <data android:scheme="package" android:path="org.sjhstudio.diary" /> -->
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <!-- <data android:scheme="package" android:path="org.sjhstudio.diary" /> -->
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_FULLY_REMOVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".AlarmActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize" />

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".FontActivity"
            android:exported="false"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <!-- android:windowSoftInputMode="adjustResize" -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|screenSize" />

        <!-- 크롭 액티비티 -->
<!--        <activity-->
<!--            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"-->
<!--            android:exported="false"-->
<!--            android:configChanges="orientation|screenSize"-->
<!--            android:theme="@style/Base.Theme.AppCompat" />-->

        <!-- 내용 제공자(카메라 앱과 파일 공유) -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="org.sjhstudio.diary.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/external" />
        </provider>

    </application>

</manifest>